<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main_style.css">
    <link rel="stylesheet" href="../assets/css/header_style.css">
    <title>Главная</title>
</head>
<body>
    <header class="header" id="header">
        <h1 class="name">Банк</h1>
        <nav>
            <a href="#">Главная</a>
            <a href="#">Создать курс</a>
            <a href="#">Бесплатные курсы</a>
            <a href="#">Платные курсы</a>
        </nav>

        <div class="user-profile" id="user-profile">
            <div class="username-profile" id="username-profile"></div> 
            <img src="../assets/icons/down-arrow.png" class="down-arrow" id="down-arrow">
            <div class="dropdown">
                <a href="profile">Личный кабинет</a>
                <a href="#" id="logout-button">Выйти</a>
            </div>
        </div>


        <div class="auth-buttons" id="auth-buttons">
            <a class="auth-button" href="login.html">Войти</a>
            <a class="auth-button" href="registration.html">Зарегистрироваться</a>
        </div>
        <script>
            const userProfile = document.querySelector('.user-profile');
            const dropdown = document.querySelector('.dropdown');
            const arrow = document.querySelector(".down-arrow");

            userProfile.addEventListener('click', () => {
                dropdown.style.display = 'block';
                dropdown.style.opacity = 0;
                dropdown.style.transform = 'translateY(-10px)';
                arrow.style.transform = 'rotate(180deg)';
                

                setTimeout(() => {
                    dropdown.style.opacity = 1;
                    dropdown.style.transform = 'translateY(0)';
                }, 10);
            });

            window.addEventListener('click', (event) => {
                if (!event.target.closest('.user-profile') && !event.target.closest('.dropdown')) {
                    dropdown.style.opacity = 0;
                    dropdown.style.transform = 'translateY(-10px)';
                    arrow.style.transform = 'rotate(0deg)';
                    setTimeout(() => {
                        dropdown.style.display = 'none';
                    }, 300); // Задержка для плавного исчезновения
                }
            });
        </script>
    </header>

    <div class="main-content" id="main-content">
        <!-- <div class="glass-container">
            <h1 id="title-course">Title</h1>
            <p id="description-course">Description</p>
            <div class="bottom-block">
                <div id="price-course">1000 RUB</div>
                <input type="button" name="buy" id="buy" value="Купить">
            </div>
        </div>
        <br>
        <br>
        <div class="glass-container">
            <h1 id="title-course">Title</h1>
            <p id="description-course">Description</p>
            <div class="bottom-block">
                <div id="price-course">1000 RUB</div>
                <input type="button" name="buy" id="buy" value="Купить">
            </div>
        </div>>
        <br>
        <br>
        <div class="glass-container">
            <h1 id="title-course">Title</h1>

            <div class="bottom-block">
                <div id="price-course">1000 RUB</div>
                <input type="button" name="buy" id="buy" value="Купить">
            </div>
        </div>
        <br>
        <br>
        <div class="glass-container">
            <h1 id="title-course">Title</h1>
            <p id="description-course">Description</p>
            <div class="bottom-block">
                <div id="price-course">1000 RUB</div>
                <input type="button" name="buy" id="buy" value="Купить">
            </div>
        </div>
        <br>
        <br>
        <div class="glass-container">
            <h1 id="title-course">Title</h1>
            <p id="description-course">Description</p>
            <div class="bottom-block">
                <div id="price-course">1000 RUB</div>
                <input type="button" name="buy" id="buy" value="Купить">
            </div>
        </div>
        <br>
        <br>
        <div class="glass-container">
            <h1 id="title-course">Title</h1>
            <p id="description-course">Description</p>
            <div class="bottom-block">
                <div id="price-course">1000 RUB</div>
                <input type="button" name="buy" id="buy" value="Купить">
            </div>
        </div>
        <br>
        <br>
        <div class="glass-container">
            <h1 id="title-course">Title</h1>
            <p id="description-course">Description</p>
            <div class="bottom-block">
                <div id="price-course">1000 RUB</div>
                <input type="button" name="buy" id="buy" value="Купить">
            </div>
        </div>
        <br>
        <br> -->

    </div>


    <script src="../assets/js/onLoad.js"></script>
        <script>
            const token = localStorage.getItem("access-token");
            if(token){
                document.getElementById("user-profile").style.display = "flex";
                document.getElementById("auth-buttons").style.display = "none";
                document.getElementById("down-arrow").style.display = "block";
            } else {
                document.getElementById("user-profile").style.display = "none";
                document.getElementById("down-arrow").style.display = "none";
                document.getElementById("auth-buttons").style.display = "block";
                
            }
            window.addEventListener('load', async () => {
                const courses = await fetch("http://localhost:8080/course/all", {
                    method : "GET",
                    headers : {
                        'Authorization' : `Bearer ${localStorage.getItem("access-token")}`
                    }
                });
                const mainContent = document.getElementById("main-content");
                const data = await courses.json();

                data.forEach(course => {
                    const container = document.createElement("div");
                    container.className = "glass-container";
                    container.innerHTML = `
                        <h1 id="title-course">${course.title}</h1>
                        <p id="description-course">${course.description}</p>
                        <div class="bottom-block">
                        <div class="price-course" id="price-course">${course.price} RUB</div>
                        <input type="button" name="buy" id="buy" value="Купить">
                        </div>
                        <br><br>
                    `;
                    mainContent.appendChild(container);
                })
            });


            
        </script>
</body>
</html>